<a href="https://colab.research.google.com/github/YRohitha/FB_Data_Extraction/blob/main/Youtube_API_Call.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
# Setting up the environment
import requests
import pandas as pd
import urllib3
from datetime import datetime

In [64]:
# Set up an API Key for Youtube Data API v3, generated a public API key following [1]
API_KEY = 'AIzaSyDpZxT7QdpP-E_rTR-QJspABz6jFZFLbmI'
CHANNEL_ID = 'UCW8Ews7tdKKkBT6GdtQaXvQ'

In [68]:
def get_video_stats(video_id):

    # Collecting other stats for each video - likes, views
    url_video_stats= "https://www.googleapis.com/youtube/v3/videos?id="+ video_id+ "&part=statistics&key="+ API_KEY
    response_video_stats= requests.get(url_video_stats).json()

    view_count= response_video_stats['items'][0]['statistics']['viewCount']
    like_count= response_video_stats['items'][0]['statistics']['likeCount']

    return view_count, like_count

In [69]:
def get_videos(df):
  # Make an API call
  url = "https://www.googleapis.com/youtube/v3/search?key="+ API_KEY+ "&channelId="+ CHANNEL_ID+ "&part=snippet&order=date&maxresults= 100000"

  response = requests.get(url).json()
  time.sleep(1)

  for video in response['items']:
    if video['id']['kind'] == 'youtube#video':
      video_id= video['id']['videoId']
      video_title= video['snippet']['title']
      published_at= video['snippet']['publishedAt']

      view_count, like_count= get_video_stats(video_id)

      df= df.append({'video_id': video_id, 'video_title': video_title, 
                    'published_at': published_at, 'view_count': view_count, 
                    'like_count': like_count}, ignore_index= True)
  return df

In [70]:
# Create a pandas data frame to store the response data
df = pd.DataFrame(columns= ['video_id', 'video_title', 'published_at', 'view_count', 'like_count'])

df = get_videos(df)

In [71]:
df

      video_id  ... like_count
0  VEjxlKBkZGM  ...        148
1  hMUf7DqG1nQ  ...         80
2  ToEl_tpyoM4  ...        429
3  30hS-MjpU6E  ...        380
4  Bgpp99iz0I0  ...        189

[5 rows x 5 columns]

# References : 
*   **[1] Get API Key for Youtube:** https://www.slickremix.com/docs/
*   **[2] Youtube Data API v3 Doc:** https://developers.google.com/youtube/v3/docs/?apix=true

# Personal Accounts: 
*   *My GCP Account:* https://console.developers.google.com/apis/credentials?project=youtube-api-token-342217
*   To monitor quota used with API key